.connect-container {
  margin: 10px 0 0 10px;
}

.cluster-list {
  margin: 10px 0 0 10px;
  text-align: center;
}

.side-container {
  width: 100%;
}

.icon-btn {
  float: right;
  margin: 0 0 0 10px;
}

.conn-btn {
  width: 100%;
}

.row-container {
  margin: 0 0 0 -10px;
  display: flex;
}

.light-conn-row {
  //background-color: #0de7a6 !important;
  color: #3498ff;
}

.dark-conn-row {
  //background-color: #11ea40 !important;
  color: #34c3ff;
}
